@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=IBM+Plex+Sans+Condensed&family=Nunito+Sans:wght@300;400&family=Playfair+Display+SC:wght@700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

/*----------------------------------------*/
/*  1.Slider section
/*----------------------------------------*/

.carousel-item img {
  height: 50vh;
  width: 100%;
}

/*----------------------------------------*/
/*  Update Section
/*----------------------------------------*/
.updates {
  height: auto;
  margin-bottom: 2em;
}
video {
  margin-top: 15px;
  width: 100%;
  height: 40vh;
  border: 1px solid grey;
}
.video p {
  font-weight: 500;
  font-size: 18px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
/*----------------------------------------*/
/* News Updates
/*----------------------------------------*/
.update-heding {
  font-size: 2em;
  letter-spacing: 2px;
  background-color: rgb(3, 87, 84);
  padding: 10px;
  width: 24%;
  color: #efefef;
  font-family: "Nunito Sans", sans-serif;
}
.news {
  margin-left: 1.5em;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider-1 {
  width: 100%;
  max-width: 600px;
  height: 70vh;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.slides-1 {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
}

.slide-1 {
  display: flex;
  flex-shrink: 0;
  height: 70vh;
  scroll-snap-align: center;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}
.slide-1 img {
  height: 40vh;
  width: 100%;
}
.slide-1 img:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-out;
}
.slide-1 a {
  background: none;
  border: none;
  font-size: 15px;
  color: rgb(255, 98, 0);
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(78, 75, 75);
  margin: 0 10px 0 10px;
}

.carousel-caption {
  color: rgb(13, 13, 13);
}
.carousel-caption p {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

/*----------------------------------------*/
/*  Footer Section
/*----------------------------------------*/

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #242323;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 1px;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.3rem;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 2px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  margin: 1em 0;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}
iframe {
  width: 100%;
  height: 40vh;
}
@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
  margin-top: 1em;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #ffffff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: start;
  padding-top: 24px;
  font-size: 16px;
  margin-bottom: 0;
}
.footer-dark .copyright > span {
  color: #ff5101;
  font-size: 18px;
}
/*----------------------------------------*/
/* testimonial
/*----------------------------------------*/

.client {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: #06a6b5; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #012b2ece,
    #02666de7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.test-img img {
  height: 30vh;
  width: 100%;
}
.carousel-icon i {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.3);
}

.carousel-item i {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.3);
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  color: #fff;
  height: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5263rem solid transparent;
  border-right: 1.5263rem solid transparent;
  border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
}
.test-arr {
  margin: 0 auto;
}
/* ------testimonial  close-------*/

/* ------courses Open-------*/

.card {
  position: relative;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  background: #ffffffa1;
  border: 1px solid #625f60;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 100%;
  border-radius: 10px;
}
.card img {
  height: 30vh;
}
.card:hover {
  box-shadow: 0px 30px 18px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease-in-out;
}
.btn {
  border: 1px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
  color: rgb(0, 0, 0);
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  border: 1px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
.btn {
  color: black;
}

/* ------courses close-------*/

/*------ Gallery start -------*/

.gallery {
  margin-top: 2em;
}
.gallery-heading {
  text-transform: capitalize;
  font-size: 2.5em;
  width: 20%;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(4, 59, 104);
  margin-bottom: 1em;
  padding: 10px;
  border: 1px solid rgb(1, 91, 93);
  border-radius: 10px;
  background: linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.gallery-heading:hover {
  --d: 100%;
}
.sub-text{
  margin-bottom: 2em;
}
.col-pic {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 6.5em;
  background: rgba(0, 0, 0, 0.43);
}
.col-pic p {
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "Oxygen-Bold";
}
.col-pic h5 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "roboto slab", sans-serif;
  letter-spacing: 0.25px;
}
.col-pic label {
  width: 100px;
  height: 2px;
  display: block;
  background: #fff;
  border-radius: 10px;
  margin: 0.5em auto;
}

.gallery-card {
  position: relative;
  margin-bottom: 1.5em;
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;
}
.gallery-card a img {
  -webkit-transition: all 2.4s ease-in-out;
  -moz-transition: all 2.4s ease-in-out;
  -ms-transition: all 2.4s ease-in-out;
  -o-transition: all 2.4s ease-in-out;
  transition: all 2.4s ease-in-out;
  height: 300px;
  width: 100%;
}

.gallery-card a {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gallery-card a:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.gallery-card:hover .col-pic {
  background: rgba(0, 0, 0, 0.59);
}

.padcol {
  column-gap: 2rem;
}
.margright {
  margin-right: -2px;
}

/* Gallery Close */


/*SEMINOR-WORKSHOP */
.seminor{
  margin-top: 4rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.seminor-work{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}
.sem-video{
  height: 45vh;
  margin: 3em auto;
}
iframe{
  height: 45vh;
  width: 95%;
  margin: 0 auto;
}
iframe:hover{
  transform: scale3d(1.02, 1.03, 0.3);
  transition: all 0.3s ease-in-out;
}
.video-text{
  font-size: 17px;
  padding-top: 8px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
  width: auto;
}
@media (max-width:578px){
  .seminor{
    overflow: hidden;
  }
  iframe{
    width: 100%;
    margin: 0 auto;
  }
  .video-text{
    font-size: 14px;
    width: 90%;
  }
}

/* SEMINOR WORKSHOP END*/
/* EVENT Style END */
/* ==================== */

/*=====================*/
/* ABOUT Section CSS Start */
/* ================ */
.about-gdm{
  margin: 3rem auto;
}
.about-heading{
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-size: 2.5em;
  color: blue;
}
.about-detils{
  width: 85%;
  margin-left: 8rem;
}
.table{
  font-size: 16px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
.about-info{
  font-size: 14px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 0.5px;
}
.vision-hed, .mission-hed{
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.7em;
  color: blue;
}
@media screen and (max-width:578px){
  .about-detils{
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width:767px){
  .about-detils{
    width: 90%;
    margin: 0 auto;
  }
}